
*{
    padding: 0;
    margin: 0;
}

:root{
    --background-color: rgb(60, 60, 60);
    --navbar-color: #272727f2;
    --sidebar-color:#141414a4;
}

body{
    background-color:var(--background-color);
}

.home{
    top: 0;
    position: fixed;
    z-index: 1;
    height: 50px;
    width: 100%;
    background-color: var(--navbar-color);
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

#home-menu{
    color: white;
    font-size:25px;
    font-weight: 800;
    padding: 5px;
    margin: auto 0;
    margin-left:10px;
    border-radius: 30%;
}

#home-menu:hover{
    cursor: pointer;
    background-color: rgba(181, 181, 181, 0.242);
}

.home-logo{
    display: flex;
    text-decoration: none;
    margin-right: 10px;
}

.home-logo_name{
    color:azure;
    margin: auto 5px ;
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;

}

.home-logo_img{
    padding: 5px 0;
}



.sidebar{
    top:0;
    position:fixed;
    z-index: 2;
    height: calc(100% - 50px);
    width: 250px;
    background-color:var(--sidebar-color);
    margin-top: 50px;
    left: -250px;
    display: flex;
    flex-direction: column;
    border-right: 0.01px solid rgba(245, 245, 245, 0.361);
}

.sidebar-item{
    display: flex;
    text-decoration: none;
    margin:5px;
    margin-bottom: 0;
    padding: 8px 5px;
    border-radius: 10px;
}

.sidebar-item:hover{
    background-color:rgba(181, 181, 181, 0.242);
}

.sidebar-item_logo{
    width: 30px;
    height: 30px;
    margin-left: 5px;
}
.sidebar-item_name{
    color: aliceblue;
    margin: auto 0;
    margin-left: 30px;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}
